@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@font-face {
  font-family: 'Dos';
  src: url('./assets/fonts/VGA437.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  cursor: none;
}

body {
  overflow: hidden;
  user-select: none;
  background-color: #0000af;
  color: #57ffff;
}
