@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@font-face {
  font-family: 'Dos';
  src: url('./assets/fonts/VGA437.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
